.news-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    padding:0px;

}

.updates{
  color: #1c3988;
  
  

}
p{
    color: #898b91;
}